
.characterDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    &__article{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Fasthand', cursive;
        text-align: center;
        background-color: rgba(175, 190, 177, 0.897);
        width: 400px;
        padding-top: 10px;
    }
    
    &__list{
        list-style: none;
        font-size: 20px;
    }

    &__image {
        width: 150px;
    }

    &__link {
        background-color: rgb(199, 139, 124);
        font-family: 'Fasthand', cursive;
        font-size: 25px;
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;
        width: 150px;
        border-radius: 10px;
    }

    &__error {
        font-family: 'Fasthand', cursive;
        font-weight: bold;
        font-size: 30px;
        color: red;
        text-align: center;
        background-color: rgba(248, 248, 248, 0.74);
    }

    &__houses {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
}

