.list{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.error{
    font-family: 'Fasthand', cursive;
    font-weight: bold;
    font-size: 30px;
    color: red;
    text-align: center;
    background-color: rgba(248, 248, 248, 0.74);
}