.form__filters{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    font-size: 30px;
    font-family: 'Fasthand', cursive;
    font-weight: bold;
    gap: 10px;
    background-color: rgba(250, 239, 215, 0.753);
}

