
.landing{
    background-image: url('../../images/landingBackground.jpg');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        &__title{
            font-family: 'Fasthand', cursive;
            font-weight: bold;
            text-align: center;
            @media (min-width: 769px) {
                 font-size: 50px;
            }
        }
        &__icon{
            height: 80px;
            width: 120px;
        
            @media (min-width: 769px) {
                height: 280px;
                width: 400px;
            }
        
            @media (min-width: 1024px) {
                height: 280px;
                width: 400px;
            }
        }

        &__subtitle {
            font-family: 'Fasthand', cursive;
            font-weight: bold;
            text-align: center;

            @media (min-width: 769px) {
                font-size: 25px;
            }
        }
}

.landing__img{
    height: 300px;
    width: 250px;

    @media (min-width: 769px) {
    height: 600px;
    width: 470px;
    }
    
    @media (min-width: 1024px) {
      height: 700px;
      width: 570px;  
    }
}

.landing__img:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}